.introImg {
  height: 35vh;
}
.spaced {
  margin: 10px 0;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.top {
  align-items: flex-start;
}
.fifty {
  width: 50vw;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#logo {
  height: 50vh;
  -webkit-filter: drop-shadow(1px 1px 1px black)
    drop-shadow(-1px -1px 1px silver);
  filter: drop-shadow(1px 1px 1px black) drop-shadow(-1px -1px 1px silver);
}
.comms {
  height: 45vh;
}
code {
  font-weight: 500;
  color: aqua;
}
i {
  text-decoration: underline;
  font-style: italic;
}
.onions {
  height: 40vh;
}
.onionLayers {
  width: 27vw;
}
.qr {
  height: 30vh;
}
